{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url 'displayCategory' %}" method="POST">
        {% csrf_token %}
        <label for="">Choose a category</label><br>
        <select name="category" id="">
            {% for cat in categories %}
                <option value="{{ cat }}">{{ cat }}</option>
            {% endfor %}
        </select>
        <button type="submit">Select</button>
    </form>
    <div style="display: flex;">
    {% for listing in Listings %}
        <div class="card" style="width: 18rem; margin: 2px;">
            <img height="400px" class="card-img-top" src="{{ listing.imgUrl }}" alt="{{ listing.title }}">
            <div class="card-body">
            <h5 class="card-title">{{ listing.title }}</h5>
            <p class="card-text">{{ listing.description }}</p>
            <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Details</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}